<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <h3>AUTO TOOL</h3>
      </div>
      <div class="footer-container">
        <div class="footer-column">
          <h4>Каталог</h4>
          <ul>
            <li><a href="auto-repair-equipment.html">Обладнання для СТО</a></li>
            <li><a href="hand-tools.html">Ручний інструмент та набори</a></li>
            <li><a href="battery-tools.html">Акумуляторний інструмент</a></li>
            <li><a href="electric-tools.html">Електроінструмент</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Інформація</h4>
          <ul>
            <li><a href="index.html">Про нас</a></li>
            <li><a href="delivery-and-payment.html">Доставка і оплата</a></li>
            <li><a href="brands.html">Бренди</a></li>
            <li><a href="privacy-policy.html">Політика конфіденційності</a></li>
            <li><a href="user-agreement.html">Угода користувача</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Контакти</h4>
          <p>+38 (068) 790 08 30</p>
          <p>
            Графік роботи: <br />Пн-Пт 8:00-20:00, <br>Сб 9:00-17:00</br>
          </p>
          <a href="https://instagram.com/auto.tooll" target="_blank">
            <img
              src="images/Icons/instagram.svg"
              alt="Instagram"
              class="social-icon"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-container">
        <p>© 2024 Auto Tool. Усі права захищено.</p>
        <div class="payment-icons">
          <img src="images/Icons/liqpay-white.svg" alt="LiqPay" />
          <img src="images/Icons/paypal.svg" alt="PayPal" />
        </div>
      </div>
    </div>
  </footer>
  