<header>
  <div class="top-section">
    <nav class="top-bar container">
      <ul class="menu">
        <li><a href="index.html">Про нас</a></li>
        <li><a href="#">Доставка і оплата</a></li>
        <li><a href="brands.html" class="active">Бренди</a></li>
      </ul>

      <ul class="contacts">
        <li>
          <a href="https://instagram.com/auto.tooll" target="_blank">
            <img
              src="images/Icons/instagram.svg"
              alt="Instagram"
              class="icon"
            />
            auto.tooll
          </a>
        </li>
        <li>
          <a href="tel:+380687900830">
            <img src="images/Icons/phone.svg" alt="Телефон" class="icon" />
            +38 (068) 790 08 30
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bottom-section">
    <div class="header container">
      <a href="index.html" class="logo">AUTO TOOL</a>
      <button class="catalog-button">
        <img src="images/Icons/Vector.svg" alt="Каталог" class="icon" />
        Каталог
      </button>
      <div class="search-wrapper">
        <input type="text" placeholder="Пошук товарів" />
        <img src="images/Icons/search.svg" alt="Пошук" class="search-icon" />
      </div>
      <div class="actions">
        <a href="#" class="favorite">
          <img src="images/Icons/favorites.svg" alt="Улюблене" class="icon" />
          <span class="counter">0</span>
        </a>
        <a href="#" class="cart">
          <img src="images/Icons/cart-black.svg" alt="Кошик" class="icon" />
          <span class="counter">0</span>
        </a>
      </div>
    </div>
  </div>
</header>
