/* Основні стилі */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.contact-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #666;
}

.phone-icon {
  width: 24px;
  margin-right: 10px;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.checkout-container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-section,
.cart-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.form-section {
  padding-bottom: 0;
}

.cart-summary {
  flex: 1;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.step-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.step-number {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  border-radius: 50%;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.form-row {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form-group {
  flex: 1;
}

input {
  width: calc(100% - 40px);
  max-width: 400px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.phone-input-wrapper {
  display: flex;
  align-items: center;
}

.button,
.confirm-button {
  background-color: #08a744;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

.confirm-button {
  width: calc(100% - 20px);
  margin: 10px;
}

.continue-button {
  width: auto;
  margin-left: 0;
  padding: 10px 30px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.item-info {
  flex-grow: 1;
}

.item-sku {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.quantity-control {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

.quantity-control button {
  width: 36px;
  height: 36px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.quantity-control button:hover {
  background-color: #f1f1f1;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.terms {
  font-size: 14px;
  color: rgba(102, 102, 102, 0.7);
  text-align: center;
  margin-top: 10px;
}

.checkout-step-wrapper {
  background-color: #f7f7f7;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 40px 0;
}

.checkout-step {
  max-width: 1140px;
  padding: 5px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }

  .form-row {
    flex-direction: column;
  }

  input {
    width: 100%;
  }
}
